<div class="page-header">
  <h2 nz-typography class="text-center">Client List</h2>
  <button [routerLink]="['add']" nz-button nzType="primary" nzSize="large" nzShape="round">
    <i nz-icon nzType="plus"></i>
    Add
  </button>
</div>

<nz-table #nzTable
          [nzFooter]="tableFooter"
          nzShowSizeChanger
          [nzData]="clients"
          [nzFrontPagination]="false"
          [nzLoading]="busy"
          [nzTotal]="countClients"
          [nzPageSize]="paginate.limit"
          [nzPageIndex]="paginate.page"
          (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>ID Number</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.id_number }}</td>
        <td>{{ data.createdAt }}</td>
        <td>{{ data.updatedAt }}</td>
        <td>
          <nz-space>
            <button *nzSpaceItem [routerLink]="[data.id]" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="eye" nzTheme="outline"></i></button>
            <button *nzSpaceItem [routerLink]="[data.id, 'edit']" nz-button nzType="default" nzShape="circle"><i nz-icon nzType="edit"></i></button>
            <button *nzSpaceItem nz-button nzType="primary" nzShape="circle" nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure?"
                    nzOkText="Yes"
                    nzCancelText="No"
                    (nzOnConfirm)="deleteClient(data.id)">
              <i nz-icon nzType="delete"></i>
            </button>
          </nz-space>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<ng-template #tableFooter><div class="text-center">Total {{ countClients }} items</div></ng-template>
